parameters:
    level: 6
    paths:
        - public/
        - src/
        - tests/
    excludePaths:
        - tests/Pest.php

    dynamicConstantNames:
        - 'R::*'

    ignoreErrors:
        - '#Access to an undefined property RedBeanPHP\\OODBBean::\$#'
        - '#Access to an undefined property iterable<RedBeanPHP\\OODBBean>&RedBeanPHP\\OODBBean::\$#'
        - '#Unable to resolve the template type TValue in call to function expect#'
        - '#Method.*UntypedParameterClass.*has parameter.*with no type specified#'
        - '#Attribute class.*Priority.*is not repeatable but is already present above the class#'
        - '#Access to an undefined property NickMous\\Binsta\\Internals\\Requests\\Request::\$#'
        - '#Call to protected method createMock\(\) of class PHPUnit\\Framework\\TestCase.#'
        - '#Access to an undefined property PHPUnit\\Framework\\TestCase::\$#'
